<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="VuonVietXuStore"
			 connectionString="Data Source=LAPTOP-J142V969\NGUYENTRAM30;Initial Catalog=VuonVietXuStore;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>